################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/UnitTestControllerApp
/UnitTest/bin/Debug/net5.0
/UnitTest/obj
/UnitTestControllerApp/bin/Debug/net5.0
/UnitTestControllerApp/obj/Debug/net5.0/Razor/Views
/UnitTestControllerApp/Properties
/UnitTestControllerApp/wwwroot
